html{
    scroll-behavior:smooth;/*permite el scroll suabe al dar clic en un enlace de la pagina*/
}


html,
body {
    margin: 0px;
    height: 100%;
    width: 100%;
    /* font-family: 'Noto Sans JP', sans-serif; */
}


header{

    height: 100vh;
    /* background-image: url('../img/2coronavirus.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center; */

    /* background-size: 5%;
    background-repeat: no-repeat;
    background-image: url('../img/logo.png'),
    url('../img/logo.png'),
    url('../img/logo.png'),
    url('../img/logo.png'),
    url('../img/logo.png'),
    url('../img/logo.png'),
    url('../img/logo.png');
    background-position: 75% 0,
    100%,
    20px 50px,
    50%,
    0 90%; */
   
   
    
}

footer{
    background-color: #f50057;
    min-height: 100px;
}
.etiquetas{
    color: #f50057;
    font-family: 'Oswald',
    sans-serif;
    font-size:2rem;
}

.header-img{

   background-image: url('../img/medicina.svg');
   background-repeat: no-repeat;
   background-size: 80%;
   background-position:center center;
   
   /* margin-top: 10px; */
   height: 100%;
   
}

.titulo{
  color: #f50057;
  font-family: 'Oswald', sans-serif;
  font-size:4rem ;
  line-height : 65px;
}
.titulos {
    color: #f50057;
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    line-height: 65px;
}
.card{
    /* border:5px solid black; */
}
.valor_card{

    font-family: 'Oswald', sans-serif;
    font-size:2.5rem;
}

.titulo.card {

    font-family: 'Oswald', sans-serif;
    /* font-size: 2.5rem; */
}

.icono{
  font-size:2.5rem;
  margin-left: -35px;
  margin-top: -20px;
  padding: 20px 22px;
  border-radius: 50% ;
  
}

 @media (max-width: 736px) {


    .titulo {
       
        margin-top: 30px;
        margin-left: 40px;
        color: white;
        font-family: 'Oswald', sans-serif;
        font-size: 2rem;
        line-height: 50px;
        
    }

    .header-img {

       background-position:top;

        margin-top: 10px; 
    
        height: 50%;

    }

 }